<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" id="main-container">
    <div class="container">
        <div class="card mt-5" style="align-items: center;">
            <h1>Employee Dashboard</h1>
        </div>

        <div class="card mt-5" style="padding: 20px;">
            <form #registerForm="ngForm" (ngSubmit)="addEmployee(registerForm)">
                <div class="form-group">
                    <label for="firstName">Employee First Name:</label>
                    <input type="text" #firstName (ngModel)="firstName" name="firstName" id="firstName" class="form-control" placeholder="Employee First Name">
                </div>
                <div class="form-group">
                    <label for="lastName">Employee Last Name:</label>
                    <input type="text" #lastName (ngModel)="lastName" name="lastName" id="lastName" class="form-control" placeholder="Employee Last Name">
                </div>
                <div class="form-group">
                    <label for="gender">Employee Gender:</label>
                    <select #gender [(ngModel)]="employeeToUpdate.gender" name="gender" id="gender" class="form-control">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Neutral">Neutral</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="email">Employee Email:</label>
                    <input type="text" #email (ngModel)="email" name="email" id="email" class="form-control" placeholder="Employee email">
                </div>
                <div class="form-group">
                    <label for="jobTitle">Employee Job Title:</label>
                    <input type="text" #jobTitle (ngModel)="jobTitle" name="jobTitle" id="jobTitle" class="form-control" placeholder="Employee job title">
                </div>
                <div class="form-group">
                    <label for="phone">Employee Phone Number:</label>
                    <input type="text" #phone (ngModel)="phone" name="phone" id="phone" class="form-control" placeholder="Employee phone number">
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary w-100">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="{{employee?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{employee?.firstName}}
                            <br>
                            {{employee?.lastName}}
                        </h5>
                        <p class="m-0">{{employee?.jobTitle}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <br> <a href="#">{{employee?.email}}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : <br> {{employee?.phone}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="editEmployee(employee)" class="btn btn-primary" data-toggle="modal" data-target="#updateModal"><i class="fa fa-pencil"></i> </a>
                        <a class="btn btn-secondary tooltips" data-original-title="Delete" (click)="deleteEmployee(employee)"><i class="fa fa-times"></i></a>
                    </div>
                    <ul class="social-links list-inline mb-0">
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Update Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #updateForm="ngForm">
                <div class="form-group">
                    <label for="id">Employee ID:</label>
                    <input type="text" disabled="true" #id [(ngModel)]="employeeToUpdate.id" name="id" id="id" class="form-control" placeholder="Employee id">
                </div>
                <div class="form-group">
                    <label for="firstName">Employee First Name:</label>
                    <input type="text" #firstName [(ngModel)]="employeeToUpdate.firstName" name="firstName" id="firstName" class="form-control" placeholder="Employee First Name">
                </div>
                <div class="form-group">
                    <label for="lastName">Employee Last Name:</label>
                    <input type="text" #lastName [(ngModel)]="employeeToUpdate.lastName" name="lastName" id="lastName" class="form-control" placeholder="Employee Last Name">
                </div>
                <div class="form-group">
                    <label for="gender">Employee Gender:</label>
                    <select #gender [(ngModel)]="employeeToUpdate.gender" name="gender" id="gender" class="form-control">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Neutral">Neutral</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="email">Employee Email:</label>
                    <input type="text" #email [(ngModel)]="employeeToUpdate.email" name="email" id="email" class="form-control" placeholder="Employee email">
                </div>
                <div class="form-group">
                    <label for="jobTitle">Employee Job Title:</label>
                    <input type="text" #jobTitle [(ngModel)]="employeeToUpdate.jobTitle" name="jobTitle" id="jobTitle" class="form-control" placeholder="Employee job title">
                </div>
                <div class="form-group">
                    <label for="phone">Employee Phone Number:</label>
                    <input type="text" #phone [(ngModel)]="employeeToUpdate.phone" name="phone" id="phone" class="form-control" placeholder="Employee phone number">
                </div>
                <div class="form-group">
                    <label for="imageUrl">Employee Image URL:</label>
                    <input type="text" disabled="true" #imageUrl [(ngModel)]="employeeToUpdate.imageUrl" name="imageUrl" id="imageUrl" class="form-control" placeholder="Employee Image URL">
                </div>
                <div class="form-group">
                    <label for="employeeCode">Employee Employee Code:</label>
                    <input type="text" disabled="true" #employeeCode [(ngModel)]="employeeToUpdate.employeeCode" name="employeeCode" id="employeeCode" class="form-control" placeholder="Employee Employee Code">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary w-100" (click)="updateEmployee()" data-dismiss="modal" >Update</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
   
